/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
}

.navbar {
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1, h2 {
    color: #343a40;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

ul li:nth-child(odd) {
    background-color: #f1f1f1;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link.disabled {
    color: #6c757d;
}

.dropdown-menu .dropdown-item.disabled {
    color: #6c757d;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.sidebar .logo {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar .nav-item {
    margin-bottom: 10px;
}

.sidebar .nav-link {
    color: #343a40;
    font-size: 18px;
    padding: 10px;
    display: block;
    transition: all 0.3s ease;
}

.sidebar .nav-link:hover {
    background-color: #e9ecef;
    border-radius: 5px;
    font-weight: bold;
}

.sidebar .nav-link:hover:not(.disabled) {
    background-color: #d6d8db;
}

.content {
    margin-left: 270px;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
}