/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1, h2 {
    color: #343a40;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

ul li:nth-child(odd) {
    background-color: #f1f1f1;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link.disabled {
    color: #6c757d;
}

.dropdown-menu .dropdown-item.disabled {
    color: #6c757d;
}